html, body {
   width: 100%;
   padding: 0px;
   margin: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 10px;
}

a {
   color: white;
   text-decoration: none;
   font-weight: normal;
   cursor: pointer;
   border: 0px;
}

div {
   float: left;
   position: relative;
}

img {
   border-width: 0px;
}

div.Page {
   margin: 0 auto;
   float: none;
   width: 100%;
   background-color: black;
   color: white;
}

div.ContentFrame {
    width: 1920px;
    margin-left: -960px;
    left: 50%;
}

div.DisplayIdentity {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1000px;
    padding-top: 80px;
    font-size: 8000%;
    text-align: center;
    background-color: white;
    color: black;
    z-index: 1000;
    opacity: 0.9;
}

div.Content{
    background-color: black;
    width: 100%;
    height: 1060px;
    padding-top: 10px;
    overflow: hidden;
}

div.Third {
    width: 33.3%;
    height: 1080px;
}

div#ThirdCenter {
    border-left: 4px solid #FFF;
    border-right: 4px solid #FFF;
    margin-left: -4px;
    margin-right:-4px;
}

div.TeamName {
    width: 100%;
    padding-top:2%;
    height: 8%;
    text-align:center;
    font-size: 540%;
}

div.TeamScore {
    width:100%;
    height:40%;
    text-align:center;
    font-size: 3000%;
}

div.TeamIsInOffence {
    height: 20%;
    width: 100%;
    text-align: center;
}

div.DefaultHeadline {
    width: 100%;
    padding-top:5.3%;
    height: 6%;
    font-size: 480%;
    text-align:center;
}

div.Half {
    width:50%;
    height:100%;
}

div.DefaultNumber {
    width: 100%;
    padding-top:5%;
    height: 18%;
    font-size: 1400%;
    text-align:center;
}

div.Time {
    width: 100%;
    padding-top:5%;
    height: 31.6%;
    font-size: 2000%;
    text-align:center;
}

div.NetworkError {
    font-size: 940%;
    color: red;
    position: absolute;
    left: 50%;
    top: 31%;
    width: 640px;
    margin-left: -320px;
    text-align: center;
}

.HiddenObject {
    display: none;
}

@media screen {
    /* 640 x 360 */
    div.ContentFrame {
        transform: translate(0, -360px) scale(0.333);
    }
}

@media screen and (min-width: 940px) and (min-height: 520px) {
    /* 960 x 540 */
    div.ContentFrame {
        transform: translate(0, -270px) scale(0.500);
    }
}

@media screen and (min-width: 1004px) and (min-height: 546px) {
    /* 1024 x 576 */
    div.ContentFrame {
        transform: translate(0, -252px) scale(0.533);
    }
}

@media screen and (min-width: 1260px) and (min-height: 700px) {
    /* 1280 x 720 */
    div.ContentFrame {
        transform: translate(0, -178px) scale(0.666);
    }
}

@media screen and (min-width: 1346px) and (min-height: 748px) {
    /* 1366x768 */
    div.ContentFrame {
        transform: translate(0, -156px) scale(0.711);
    }
}

@media screen and (min-width: 1900px) and (min-height: 1060px) {
    /* 1920x1080 */
    div.ContentFrame {
        transform: translate(0, 0) scale(1.000);
    }
}

@media screen and (min-width: 2540px) and (min-height: 1420px) {
    /* 2560x1440 */
    div.ContentFrame {
        transform: translate(0, 180px) scale(1.333);
    }
}

@media screen and (min-width: 3820px) and (min-height: 2140px) {
    /* 3840x2160 */
    div.ContentFrame {
        transform: translate(0, 540px) scale(2.000);
    }
}