html, body {
   width: 100%;
   padding: 0px;
   margin: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 10px;
}

a {
   color: white;
   text-decoration: none;
   font-weight: normal;
   cursor: pointer;
   border: 0px;
}

div {
   float: left;
   position: relative;
}

img {
   border-width: 0px;
}

div.Page {
   margin: 0 auto;
   float: none;
   width: 100%;
   background-color: black;
   color: white;
}

div.ContentFrame {
    width: 1920px;
    margin-left: -960px;
    left: 50%;
}

div.Content{
    background-color: black;
    width: 100%;
    height: 1060px;
    overflow: hidden;
}

div.TeamName {
    width: 34%;
    font-size: 800%;
    text-align: center;
    padding: 14px 0 10px 0;
    background-color: #600;
    border-radius: 60px;
}

div#HomeTeamName {
    position: absolute;
    left: 1%;
    bottom: 69%;
    padding-right: 150px;
}

div#GuestTeamName {
    position: absolute;
    right: 1%;
    bottom: 69%;
    padding-left: 150px;
}

div.TeamScore {
    width: 48%;
    height: 60%;
    text-align:center;
    font-size: 6600%;
}

div#HomeTeamScore {
    position: absolute;
    left: 1%;
    top: 32%;
}

div#GuestTeamScore {
    position: absolute;
    left: 53%;
    top: 32%;
}

div#Clock {
    position: absolute;
    width: 34%;
    left: 33%;
    bottom: 69%;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 0 0 50px 50px;
    height:30%;
    z-index: 100;
    background-color: black;
}

div.DefaultHeadline {
    width: 100%;
    padding-top:5.3%;
    height: 6%;
    font-size: 480%;
    text-align:center;
}

div.Time {
    width: 100%;
    padding-top:5%;
    height: 31.6%;
    font-size: 2000%;
    text-align:center;
}

div.NetworkError {
    font-size: 940%;
    color: red;
    position: absolute;
    left: 50%;
    top: 31%;
    width: 640px;
    margin-left: -320px;
    text-align: center;
}

.HiddenObject {
    display: none;
}

@media screen {
    /* 640 x 360 */
    div.ContentFrame {
        transform: translate(0, -360px) scale(0.333);
    }
}

@media screen and (min-width: 940px) and (min-height: 520px) {
    /* 960 x 540 */
    div.ContentFrame {
        transform: translate(0, -270px) scale(0.500);
    }
}

@media screen and (min-width: 1004px) and (min-height: 546px) {
    /* 1024 x 576 */
    div.ContentFrame {
        transform: translate(0, -252px) scale(0.533);
    }
}

@media screen and (min-width: 1260px) and (min-height: 700px) {
    /* 1280 x 720 */
    div.ContentFrame {
        transform: translate(0, -178px) scale(0.666);
    }
}

@media screen and (min-width: 1346px) and (min-height: 748px) {
    /* 1366x768 */
    div.ContentFrame {
        transform: translate(0, -156px) scale(0.711);
    }
}

@media screen and (min-width: 1900px) and (min-height: 1060px) {
    /* 1920x1080 */
    div.ContentFrame {
        transform: translate(0, 0) scale(1.000);
    }
}

@media screen and (min-width: 2540px) and (min-height: 1420px) {
    /* 2560x1440 */
    div.ContentFrame {
        transform: translate(0, 180px) scale(1.333);
    }
}

@media screen and (min-width: 3820px) and (min-height: 2140px) {
    /* 3840x2160 */
    div.ContentFrame {
        transform: translate(0, 540px) scale(2.000);
    }
}