html, body {
   width: 100%;
   height: 100%;
   padding: 0px;
   margin: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;
    font-size: 14pt;
}

a {
   color: white;
   text-decoration: none;
   font-weight: normal;
   cursor: pointer;
   border: 0px;
}

div {
   float: left;
   position: relative;
}

img {
   border-width: 0px;
}

div.Page,
div.ContentFrame,
div.StaticContent {
    width: 100%;
    height: 100%;
}

div.Page {
   margin: 0 auto;
   float: none;
   background-color: black;
}

div.ContentFrame {
    overflow: hidden;
}

div.Content {
    width: 100%;
}

div.Screen {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 0.5s;
}

#DisplaySelectionArea,
#AppearanceSelectionArea,
#ClockSettingsArea,
#ClockOperationArea {
    position: absolute;
}

div.HiddenScreen {
    top: 110%;
}

#ScoreboardFormArea {
    z-index: 50;
}

#DisplaySelectionArea {
    z-index: 300;
}

#AppearanceSelectionArea {
    z-index: 400;
}

#ClockSettingsArea {
    z-index: 600;
}

#ClockOperationArea {
    z-index: 500;
}

div.NavigationBar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 56px;
    width: 100%;
    background-color: #223;
}

#ScoreboardFormNavigationBar {
    z-index: 200;
}

div.NavigationBarBackButton,
div.NavigationBarTitle,
div.NavigationBarSubmitButton {
    position: absolute;
    top: 0px;
    height: 40px;
    padding-top: 16px;
    text-align: center;
}

div.NavigationBarBackButton,
div.NavigationBarSubmitButton {
    width: 80px;
    cursor: pointer;
}

div.NavigationBarBackButton {
    left: 5px;
    color: #C00;
}

div.NavigationBarSubmitButton {
    right: 5px;
    color: #0B0;
}

div.NavigationBarTitle {
    left: 50%;
    width: 170px;
    margin-left: -85px;
    font-weight: bold;
}

form.Form {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 76px;
}

div.FormLine {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

select.BigNumber,
input.BigNumber,
div.FormButton {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 10px;
}

div.FormButton,
select.BigNumber {
    font-size: 150%;
    text-align: center;
    width: 280px;
}

div.FormButton {
    display: inline-block;
    float: none;
    margin-top: 20px;
    width: 266px;
    cursor: pointer;
}

span.BigNumberSeparator {
    font-size: 240%;
    width: 70px;
    display: inline-block;
}

input.BigNumber {
    font-size: 300%;
    width: 84px;
    text-align: right;
}


div.ClockOperationTime,
div.ClockOperationButton {
    height: 22%;
    margin-top: -20%;
    position: absolute;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

div.ClockOperationTime {
    top: 32%;
    font-size: 500%;
}

#StartButton {
    top: 56%;
    background-color: #0B0;
}

#StopButton {
    top: 84%;
    background-color: #C00;
}

div.Stopped {
    color: #C00;
}

div.Ticking {
    color: #0B0;
}

div.OperationButtonLabel {
    font-size: 240%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    height: 52px;
    margin-top: -26px;
}

@media screen and (min-width: 640px) and (min-height: 800px) {
    div.ClockOperationTime {
        font-size: 700%;
        top: 30%;
    }
}


label {
    display: block;
    padding: 0px 4px;
}


#ScoreboardFormArea {
    overflow-x: hidden;
}

div.ScrollView {
    overflow-y: scroll;
    padding-right: 100px;
    width: 100%;
    height: 100%;
}

div.Content{
    width: 98%;
    padding: 0px 1.1% 220px 2%;
    border-bottom: 20px solid #223;
}

input.TeamName {
    border: 2px solid black;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    padding: 4px 0px;
    margin: 8px 0px;
    width: 96%;
    font-size:18pt;
}

div.HomeTeamContent,
div.GuestTeamContent {
    width: 50%;
}

div.GameContent {
    width: 100%;
}

div.ContentHeadLine,
div.ContentLine {
    width: 100%;
}

div.ContentHeadLine {
    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 60%;
    font-weight: bold;
    text-align: left;
    color: #556;
}


div.ContentLine {
    text-align: center;
}

div.ThirdLine {
    width: 33.3%;
    text-align: center;
}


input.OffenceMarker, span.OffenceMarker {
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
    position: relative;
}

input.OffenceMarker {
    left:35px;
    z-index:101;
    opacity:0.01;
}

span.OffenceMarker {
    display: inline-block;
    border-radius: 10px 140px 10px 140px;
    left:-40px;
    z-index:100;
    transform: rotate(-45deg);
    border: 3px solid #556;
}

input.OffenceMarker:checked + span.OffenceMarker {
    border: 3px solid white;
}

div.ClockOperationFrame {
    float: none;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    max-width: 640px;
}

div.DisplayList {
    width: 100%;
    padding-top: 72px;
}

div.DisplayTile {
    cursor: pointer;
    width: 33.3%;
    padding: 15px 0px;
    font-size: 500%;
    text-align: center;
}


@media screen and (min-width: 480px) {
    div.DisplayTile {
        width: 25%;
    }
}

@media screen and (min-width: 600px) {
    div.DisplayTile {
        width: 20.0%;
    }
}

@media screen and (min-width: 720px) {
    div.DisplayTile {
        width: 16.6%;
    }
}

@media screen and (min-width: 840px) {
    div.DisplayTile {
        width: 14.2%;
    }
}

@media screen and (min-width: 960px) {
    div.DisplayTile {
        width: 12.5%;
    }
}

div.AppearanceList {
    width: 100%;
    padding-top: 52px;
}

div.AppearanceTile {
    cursor: pointer;
    width: 320px;
    height: 180px;
    background-size: 320px 180px;
    background-repeat: no-repeat;
    text-align: center;
    background-color: blue;
    float: none;
    margin: 20px auto;
    border: 1px solid white;
}


@media screen and (min-width: 480px) {
    div.AppearanceTile {
        width: 360px;
        height: 202px;
        background-size: 360px 202px;
    }
}

@media screen and (min-width: 600px) {
    div.AppearanceTile {
        width: 480px;
        height: 270px;
        background-size: 480px 270px;
    }
}

@media screen and (min-width: 720px) {
    div.AppearanceTile {
        width: 600px;
        height: 338px;
        background-size: 600px 338px;
    }
}

@media screen and (min-width: 840px) {
    div.AppearanceTile {
        width: 720px;
        height: 405px;
        background-size: 720px 405px;
    }
}

@media screen and (min-width: 960px) {
    div.AppearanceTile {
        width: 840px;
        height: 472px;
        background-size: 840px 472px;
    }
}

div.AppearanceTileTitle {
    width: 100%;
    padding: 10px 0px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid white;
}
