* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: arial, verdana, sans-serif;
    font-size: 14pt;
    line-height: 125%;
    overflow: hidden;
}

form {
    display: block;
    float: left;
    position: realative;
    width: 100%;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
    border: 0px;
}

div {
    float: left;
    position: relative;
}

img {
    border-width: 0px;
}

h1 {
    font-size: 12pt;
    font-weight: bold;
    padding: 4px 4px;
    margin: 0px;
    text-align: center;
}

label {
    display: block;
    padding: 0px 4px;
    color: white;
}

div.Page {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

div.ContentFrame {
    float: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 100px;
}

div.NavigationBar {
    position: absolute;
    top: 0px;
    left:0px;
    height: 56px;
    width:100%;
    background-color: #333;
    z-index:200;
}

a.BackButton {
    display: block;
    float: left;
    position: absolute;
    left: 12px;
    top: 12px;
    padding: 4px 0px;
    color: white;
}

img.HideKeyboard {
    display: block;
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 12px;
    width: 32px;
    height: 32px;
}

button.SubmitButton {
    display: block;
    float: left;
    position: absolute;
    right: 12px;
    top: 12px;
    height: 32px;
    border: 2px solid white;
    background-color: #333;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

div.Content{
    width: 98%;
    padding: 50px 1% 240px 1%;
    border-bottom: 8px solid #333;
}

div.HomeTeamContent,
div.GuestTeamContent {
    width: 50%;
}

div.GameContent {
    width: 100%;
}

div.ContentHeadLine,
div.ContentLine {
    width: 100%;
}

div.ContentHeadLine {
    padding-top: 4px;
    font-size: 60%;
    font-weight: bold;
    text-align: left;
}

div.ContentLine {
    text-align: center;
}

div.ThirdLine {
    width: 33.3%;
    text-align: center;
}

input.TeamName {
    border: 2px solid black;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    padding: 4px 0px;
    margin: 8px 0px;
    width: 96%;
    font-size:18pt;
}

select.BigNumber,
input.BigNumber{
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 8px 4px;
    margin: 8px  4px;
    border-radius: 10px;
}

select.BigNumber {
    font-size: 150%;
}

input.BigNumber{
    font-size: 150%;
    width: 60px;
    text-align: right;
}

#Submit {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 8px;
    margin: 8px;
    font-size: 150%;
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
}

input.OffenceMarker, span.OffenceMarker {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    position: relative;
}

input.OffenceMarker {
    left:20px;
    z-index:101;
    opacity:0.01;
}

span.OffenceMarker {
    display: inline-block;
    border-radius: 10px 80px 10px 80px;
    opacity:0.3;
    left:-20px;
    z-index:100;
    transform: rotate(-45deg);
    border: 3px solid white;
}

input.OffenceMarker:checked + span.OffenceMarker {
    opacity: 1.0;
}


@media screen and (min-width: 640px) and (min-height: 640px) {
    /* 960 x 540 */
    body {
        font-size: 18pt;
    }

    a.BackButton {
        top: 8px;
    }

    button.SubmitButton {
        top: 8px;
        height: 40px;
    }

    select.BigNumber,
    input.BigNumber{
        padding: 8px 8px;
        margin: 16px 8px;
    }
}