* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

html, body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: arial, verdana, sans-serif;
    font-size: 14pt;
    line-height: 125%;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
    border: 0px;
}

div {
    float: left;
    position: relative;
}

img {
    border-width: 0px;
}

h1 {
    font-size: 12pt;
    font-weight: bold;
    padding: 4px 4px;
    margin: 0px;
    text-align: center;
}

label {
    display: block;
    padding: 0px 4px;
    color: white;
}

div.Page {
    margin: 0 auto;
    float: none;
    width: 100%;
    height: 100%;
    max-width: 640px;
    overflow: hidden;
    background-color: black;
    color: white;
}

div.ContentFrame{
    width: 100%;
}

div.Content{
    width: 100%;
    padding: 0px 0px 20px 0px;
}

div.HomeTeamContent,
div.GuestTeamContent {
    width: 50%;
}

div.GameContent {
    width: 100%;
}

div.ContentHeadLine,
div.ContentLine {
    width: 100%;
}

div.ContentHeadLine {
    padding-top: 4px;
    font-size: 60%;
    font-weight: bold;
    text-align: left;
}

div.ContentLine {
    text-align: center;
}

div.ThirdLine {
    width: 33.3%;
    text-align: center;
}

input.TeamName {
    border: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(255,255,255,1.0);
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 4px 0px;
    margin: 8px 0px;
    width: 96%;
    font-size:18pt;
}

select.BigNumber,
input.BigNumber{
    border: 2px solid rgba(255,255,255,1.0);
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
}

select.BigNumber {
    font-size: 150%;
}

input.BigNumber{
    font-size: 150%;
    width: 60px;
    text-align: right;
}


#Submit {
    border: 2px solid rgba(255,255,255,1.0);
    background-color: #000000;
    color: white;
    padding: 8px;
    margin: 8px;
    font-size: 150%;
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
}


input.OffenceMarker, span.OffenceMarker {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    position: relative;
}

input.OffenceMarker {
    left:20px;
    z-index:101;
    opacity:0.01;
}

span.OffenceMarker {
    display: inline-block;
    border-radius: 10px 80px 10px 80px;
    opacity:0.3;
    left:-20px;
    z-index:100;
    transform: rotate(-45deg);
    border: 3px solid white;
}


input.OffenceMarker:checked + span.OffenceMarker {
    opacity: 1.0;
}

/*
https://www.webdesignerdepot.com/2013/03/how-to-make-your-contact-forms-mobile-friendly/

input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}

input[type=checkbox] {
 width: 44px; height: 44px;
 -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
 border: 1px solid #bbb;
}

button[type=submit] {
 -webkit-appearance: none; -moz-appearance: none;
 display: block;
 margin: 1.5em 0;
 font-size: 1em; line-height: 2.5em;
 color: #333;
 font-weight: bold;
 height: 2.5em; width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
 -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}

input[type=range] {
 width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 44px; height: 44px;
  background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
  border: 1px solid #bbb;
  -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
}

<label for="website">Website:</label> <input type="url" name="website" placeholder="www.yourwebsite.com" />

<label for="tel">Tel:</label> <input type="tel" name="tel" placeholder="Your telephone number" />

<label for="email">Email:</label> <input type="email" name="email" placeholder="you@yourwebsite.com" />

<label for="time">Time:</label> <input type="time" name="time" placeholder="9:00 AM" />

<label for="date">Date:</label> <input type="date" name="date" placeholder="DD/MM/YYYY" />

*/